.main-header-wrapper {
    height: 105px;
}
.header-logo a img {
    max-width: 200px;
    padding-top: 10px;
}

.world-time {
    margin: 0px 15px 0px 0px;
    cursor: pointer;
}
.world-time i {
    font-size: 22px;
    color: #000000;
}
.flag-icon {
    margin: 0px 15px 0px 0px;
}
.flag-icon img{
    width: 31px;
    height: 18px;
}
.b-title {
    border-left: solid 3px red;
    padding-left: 8px;
}
.btl-simple-card span.btn {
    background-color: #D1260C;
    color: #ffffff;
}
.market-analysis-wrapper {
    padding: 0px;
}
.market-analysis-home{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.news-card-market {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 35px;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.single-post-content .figer-img {
    height: ;
    object-fit: cover;
}
.btn-market {
    background-color: rgba(94,184,32,0.8) !important;
    color: #ffffff;
}
.btn-market:hover {
    background-color: #D1260C !important;
}
.card-list-img:after {
    display: none;
}
.card-list-heading h6 a {
    color: #252525;
}
.list-heading a {
    font-size: 14px;
    color: #166E9F;
}
.list-heading a:hover {
   color: #252525;
}
.like-list-content {
    grid-template-columns: 1fr 1fr 1fr;
}
.category-list-product {
    background-color: #ffffff;
}
.category-list-product .cp-list-content {
    flex: 1;
    padding: 10px;
}
.cp-list-img button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D1260C;
    border: 0px;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
}
.cp-list-img button:hover {
    background-color: #166E9F;
    color: #ffffff;
}
.cp-content-title ul li {
    color: #bcbcbc;
}
.ftr-dtls {
    background-color: #003756 !important;
}
.pro-wrapper {
    text-align: right;
    padding: 20px;
}
.pro-area {
    padding: 30px 0px;
}
.banner-img {
    padding: 0px;
    margin: 20px 0px;
}
.banner-img img {
    width: 100%;
}
.disclaimer {
    margin: 50px 0px;
    padding: 0px;
    text-align: justify;
    font-weight: 200;
}
.disclaimer h4 {
    margin-bottom: 10px;
}
.main-footer {
    padding: 60px 0px;
    background-color: #166E9F;
    color: #ffffff;
}
.main-footer h4{
    color: #ffffff;
}
.main-footer .ftr-link ul li a {
    padding-left: 4px;
    color: #ffffff;
}
.main-footer .ftr-link ul li a:hover {
    color: #D7C204;
}
.social-icon li {
    margin: 20px 20px 0px 0px;
}
.social-icon.social-bg-red li {
    border: 1px #000000;
    background-color: #000000;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table-tools {
    background-color: #5EB820;
    color: #ffffff;
}
.table-calculator {
    background-color: #5EB820;
    color: #ffffff;
}
.table-calculator:hover {
    background-color: #166E9F;
    color: #ffffff;
}
.table>:not(caption)>*>* {
    padding: 15px;
}
thead {
   background: #F9F9F9;
}
th, td {
    border-bottom: 1px solid #bcbcbc;
    text-align: center;
  }
tbody tr:hover {
    background-color: #F2F2F2;
}
.table-live thead {
    background: #5EB820 !important;
    color: #ffffff;
 }
 .table-live td {
    border-bottom: 1px solid #BFFD95 !important;
    text-align: center;
  }
.table-live tbody tr:hover {
    background-color: #F7FFF1 !important;
}
.nav-tabs .nav-link {
    color: #212529;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #166E9F;
    background-color: #fff;
    border-color: #166E9F #166E9F #fff;
}
.nav-tabs {
    border-bottom: 1px solid #166E9F;
}
.badge {
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    background-color: #F2F2F2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge-green {
    background: #5EB820;
}
.badge-yellow {
    background: #D7C204;
}
.badge-red {
    background: #D1260C;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-red {
   color:#D1260C;
}
.text-yellow{
    color:#D7C204;
}
.text-green {
    color:#5EB820;
}
.live-chart-info {
    border: 1px solid #5EB820;
    min-height: 100px;
    padding: 20px
}
.checkbox-inline input {
    height: 13px;
    margin: 0px 5px 0px 20px;
}
.live-chart-select {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;
}
.btn-detail {
    background-color: #D1260C;
    color: #ffffff;
}
.btn-detail:hover {
    background-color: #166E9F;
    color: #ffffff;
}
.single-post-content h2 {
    color: #166E9F;
}
.related-news {
    margin: 30px 0px;
}
.related-news-wrapper {
    margin: 60px 0px;
}
.related-news-content {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.side-banner {
    margin: 30px 0px;
    position: relative;
}
.index-news-wrapper {
    margin: -20px 0px 30px 0px;
}
.index-news-area {
    margin-top: 35px;
}
.index-news-content {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.index-news-dtl {
    background: #F9F9F9;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin: 50px 10px;
    font-size: 16px;
}
.page-link {
    color: #4E5764;
    font-size: 18px;
}
.page-link:hover {
    color: #4E5764;
    background: #E5FFD3;
}
.page-item.active .page-link {
    background-color: #D1260C;
    border-color: #D1260C;
}
.general-section {
    margin-top: 35px;
}
.market-title {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;
}
.market-title a {
    font-size: 14px;
    color: #166E9F;
    margin-top: 15px;
}
.market-title a:hover {
    color: #003756;
    margin-top: 15px;
}
.market-title-left {
    display: flex;
    justify-content:flex-start;
    grid-column-gap: 20px;
    align-items: center;
}
.economic-calendar-button {
    margin-bottom: 40px;
}
.btn-cal-active {
    border-radius: 10px !important;
    padding: 15px 20px;
    background: #D1260C;
    border-color: #D1260C;
    color: #ffffff;
    margin: 0px 7px 7px 0px;
}
.btn-cal-active:hover{
    background: #D1260C;
    border-color: #D1260C;
    color: #ffffff;
}
.btn-cal {
    border-radius: 10px !important;
    padding: 15px 20px;
    background: #D9D9D9;
    border-color: #D9D9D9;
    color: #166E9F;
    margin: 0px 7px 7px 0px;
}
.btn-cal:hover {
    background: #D1260C;
    border-color: #D1260C;
    color: #ffffff;
}
.title-line-shape:before {
    display: none;
}
.title-line-shape:after {
    display: none;
}

.daterangepicker {
    background-color: #fff;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important;
  }

.date-con {
    font-size: 14px;
}

.date-title {
    margin-right: 10px;
    margin-top: 14px;
}

form-control {
    padding: 5px 5px;
    font-size: 14px;
}

.box-cal-detail {
    background: #F7FFF1;
    border: 1px solid #5EB820;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}
.ce-detail {
    padding:15px;
    height:100%;
    display:block; 
}
.hiddenRow {
    padding: 0 !important;
}
hr.blue {
    border-top: 1px solid #166E9F;
}

.world-time-container {
    left: -100px !important;
    margin-top: 30px !important;
}

.world-time-header {
    background-color: #166E9F; 
    color: #ffffff; 
    text-align: center; 
    font-size: larger;
    cursor: none !important;
}

.world-time-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: none !important;
}

.modal-backdrop {
    height: 0px !important;
}

.category-product .cp-content {
    padding: 20px !important;
}

.category-product .cp-content p {
    margin-bottom: 1px !important;
}

.h-form {
    margin: 0 15px 0 0;
}

@media screen and (max-width: 575px) {
.like-list-content {
    grid-template-columns: 1fr !important;
}
.related-news-content {
    grid-template-columns: 1fr;
}
.index-news-content {
    grid-template-columns: 1fr;
}
.disclaimer {
    padding: 0px 15px;
}
.ftr-drpt .footer-logo {
    text-align: left;
}
.ftr-dtls-wrapper {
    text-align: center;
}
.view-mob {
    display: grid !important;
    grid-gap: 10px;
}
.h-form {
    margin: 0px !important;
}
}