.main-header-wrapper {
    height: 105px;
}
.header-logo a img {
    max-width: 200px;
    padding-top: 10px;
}
.navbar-area ul li a i {
    display: none;
}
.submenu {
    position: absolute;
    left: 0;
    display: none !important;
}
.submenu2{
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
    left: 100% !important;
    top: 0 !important;
    z-index: -99 !important;
}
.submenu > li:hover > .submenu2{
    display: block;
    visibility: visible !important;
    z-index: 99 !important;
    animation: none !important;
}
.world-time {
    margin: 0px 15px 0px 0px;
    cursor: pointer;
}
.world-time i {
    font-size: 22px;
    color: #000000;
}
.flag-icon {
    margin: 0px 15px 0px 0px;
}
.flag-icon img{
    width: 31px;
    height: 18px;
}
.b-title {
    border-left: solid 3px red;
    padding-left: 8px;
}
.btl-simple-card span.btn {
    background-color: #D1260C;
    color: #ffffff;
}
.market-analysis-wrapper {
    padding: 0px;
}
.news-card-market {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 35px;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.btn-market {
    background-color: rgba(94,184,32,0.8) !important;
    color: #ffffff;
}
.btn-market:hover {
    background-color: #D1260C !important;
}
.card-list-heading h6 a {
    color: #252525;
}
.list-heading a {
    font-size: 14px;
    color: #166E9F;
}
.list-heading a:hover {
   color: #252525;
}
.like-list-content {
    grid-template-columns: 1fr 1fr 1fr;
}
.category-list-product {
    background-color: #ffffff;
}
.category-list-product .cp-list-content {
    flex: 1;
    padding: 10px;
}
.cp-list-img button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D1260C;
    border: 0px;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
}
.cp-list-img button:hover {
    background-color: #166E9F;
    color: #ffffff;
}
.cp-content-title ul li {
    color: #bcbcbc;
}
.ftr-dtls {
    background-color: #003756 !important;
}
.pro-wrapper {
    text-align: right;
    padding: 20px;
}
.pro-area {
    padding: 30px 0px;
}
.banner-img {
    padding: 0px;
    margin: 20px 0px;
}
.banner-img img {
    width: 100%;
}
.disclaimer {
    margin: 50px 0px;
    padding: 0px;
    text-align: justify;
    font-weight: 200;
}
.disclaimer h4 {
    margin-bottom: 10px;
}
.main-footer {
    padding: 60px 0px;
    background-color: #166E9F;
    color: #ffffff;
}
.main-footer h4{
    color: #ffffff;
}
.main-footer .ftr-link ul li a {
    padding-left: 4px;
    color: #ffffff;
}
.social-icon li {
    margin: 20px 20px 0px 0px;
}
.social-icon.social-bg-red li {
    border: 1px #000000;
    background-color: #000000;
}
.table>:not(caption)>*>* {
    padding: 15px;
}
thead {
   background: #F9F9F9;
}
th, td {
    border-bottom: 1px solid #bcbcbc;
    text-align: center;
  }
tbody tr:hover {
    background-color: #F2F2F2;
}
label-success, .badge-success {
    background-color: #468847;
}

.table-live thead {
    background: #5EB820 !important;
    color: #ffffff;
 }
 .table-live th, td {
    border-bottom: 1px solid #BFFD95 !important;
    text-align: center;
  }
.table-live tbody tr:hover {
    background-color: #F7FFF1 !important;
}

.badge {
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    background-color: #F2F2F2;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge-green {
    background: #5EB820;
}
.badge-yellow {
    background: #D7C204;
}
.badge-red {
    background: #D1260C;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-red {
   color:#D1260C;
}
.text-yellow{
    color:#D7C204;
}
.text-green {
    color:#5EB820;
}
.live-chart-info {
    border: 1px solid #5EB820;
    min-height: 100px;
    padding: 20px
}
.checkbox-inline input {
    height: 13px;
    margin: 0px 5px 0px 20px;
}
.live-chart-select {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;
}
.btn-detail {
    background-color: #D1260C;
    color: #ffffff;
}
.btn-detail:hover {
    background-color: #166E9F;
    color: #ffffff;
}
.single-post-content h2 {
    color: #166E9F;
}
.related-news {
    margin: 30px 0px;
}
.related-news-wrapper {
    margin: 60px 0px;
}
.related-news-content {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.side-banner {
    margin: 30px 0px;
    position: relative;
}
.index-news-wrapper {
    margin: -20px 0px 30px 0px;
}
.index-news-area {
    margin-top: 35px;
}
.index-news-content {
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
.index-news-dtl {
    background: #F9F9F9;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    margin: 50px 10px;
    font-size: 16px;
}
.page-link {
    color: #4E5764;
}
.page-link:hover {
    color: #4E5764;
    background: #E5FFD3;
}
.page-item.active .page-link {
    background-color: #D1260C;
    border-color: #D1260C;
}


@media screen and (max-width: 575px) {
.like-list-content {
    grid-template-columns: 1fr !important;
}
.related-news-content {
    grid-template-columns: 1fr;
}
}